:root{
    --cor-fundo: #5e141498;
    --cor-principal: #000000;
    --cor-secundaria: #8a0202;
    --cor-destaque: #491919;
    --cor-texto: #000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-height: 100vh;
}